.auth-layout {
  display: grid;
  grid-template-columns: minmax(0, 1.2fr) min-content minmax(0, 1fr);
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(circle at top left, #202233 0, #07080b 52%);
  color: #f5f5f7;
}

.auth-layout__left,
.auth-layout__right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 4rem;
}

.auth-layout__divider {
  width: 1px;
  background: linear-gradient(to bottom, transparent, #31313b, transparent);
}

@media (max-width: 960px) {
  .auth-layout {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto min-content;
  }

  .auth-layout__divider {
    display: none;
  }

  .auth-layout__left {
    padding-bottom: 1.5rem;
  }

  .auth-layout__right {
    padding-top: 0;
  }
}
